<!DOCTYPE html>

<html lang='en'>
  <head>
    {% block title %}
      <title>Local Library</title>
    {% endblock title %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'books' %}">All Books</a></li>
              <li><a href="{% url 'authors' %}">All Authors</a></li>
              {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
                <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
              {% endif %}
              {% if perms.catalog.can_mark_returned %}
                <hr>
                <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
              {% endif %}
            </ul>
          {% endblock sidebar %}
        </div>
        <div class="col-sm-10">
          {% block content %}
          {% endblock content %}
        
          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock %}
        </div>     
      </div>
    </div>
  </body>
</html>