{% extends "base_generic.html" %}

{% block content %}

  <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>
  <p>{{ author.date_of_birth }} - {% if author.date_of_death != None %}{{ author.date_of_death }}{% endif %}</p>

  <div style="margin-left:20px; margin-top:20px">
    <h2>Books</h2>
      <dl>
      {% for book in author.book_set.all %}
        <hr>
        <dt><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.bookinstance_set.all.count }})</dt>
        <dd>{{ book.summary }}</dd>
      {% endfor %}
      </dl>

  </div>

{% endblock %}